h1{
  animation: flicker 1.5s infinite alternate;    
}

html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
  padding-top: -10%;
}

body,html {
  margin: 0;
  font-family: sans-serif;
}

.ml16 {
 
  padding: 40px 0;
  font-weight: 800;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
  
  padding-top: -10%;
  margin-top: -1%;
  padding-left: 25%;
}


.ml16 .letter {
  display: inline-block;
  line-height: 1em;
  
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  margin-top: -18%;
  font-size: 1.5rem;
  padding: 0.9rem .5rem;
  transition: all .07s;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #f09;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}


@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
  }
}
h1 {
  animation: pulsate 0.11s ease-in-out infinite alternate;    
}